{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}

<div class="form-div">
  <form action="javascript:searchCompany()" name="searchForm">
    <img src="images/icon_search.gif" width="26" height="22" border="0" alt="SEARCH" />
    &nbsp;{$lang.c_company_name} &nbsp;<input type="text" name="keyword" /> <input type="submit" value="{$lang.button_search}" />
  </form>
</div>

<!--<form method="POST" action="" name="listForm" onsubmit="return confirm_bath()">-->

<!-- start company list -->
<div class="list-div" id="listDiv">
{/if}
<!--公司列表部分-->
<table cellpadding="3" cellspacing="1">
  <tr>
    <th>
      <a href="javascript:listTable.sort('company_id'); ">{$lang.c_company_id}</a>{$sort_company_id}
    </th>
    <th><a href="javascript:listTable.sort('company_name'); ">{$lang.c_company_name}</a>{$sort_company_name}</th>
    <th>...</th>
    <th>...</th>
    <th>{$lang.handler}</th>
  <tr>
  {foreach from=$company_list item=company}
  <tr>
    <td>{$company.company_id}</td>
    <td class="first-cell">{$company.company_name|escape}</td>
    <td>...</td>
    <td>...</td>
    <td align="center">
      <a href="custom_company.php?act=edit&id={$company.company_id}" title="{$lang.edit}"><img src="images/icon_edit.gif" border="0" height="16" width="16" /></a>
      <a href="javascript:confirm_redirect('{if $user.user_money ne 0}{$lang.still_accounts}{/if}{$lang.remove_confirm}', 'custom_company.php?act=remove&id={$company.company_id}')" title="{$lang.remove}"><img src="images/icon_drop.gif" border="0" height="16" width="16" /></a>
    </td>
  </tr>
  {foreachelse}
  <tr><td class="no-records" colspan="10">{$lang.no_records}</td></tr>
  {/foreach}
  <tr>
      <td align="right" nowrap="true" colspan="5">
      {include file="page.htm"}
      </td>
  </tr>
</table>

{if $full_page}
</div>
<!-- end company list -->
<!--</form>-->
<script type="text/javascript" language="JavaScript">
<!--
listTable.recordCount = {$record_count};
listTable.pageCount = {$page_count};

{foreach from=$filter item=item key=key}
listTable.filter.{$key} = '{$item}';
{/foreach}

{literal}
onload = function()
{
    document.forms['searchForm'].elements['keyword'].focus();
    // 开始检查订单
    startCheckOrder();
}

/**
 * 搜索用户
 */
function searchCompany()
{
    listTable.filter['keywords'] = Utils.trim(document.forms['searchForm'].elements['keyword'].value);
    listTable.filter['page'] = 1;
    listTable.loadList();
}

//-->
</script>
{/literal}
{include file="pagefooter.htm"}
{/if}